.shippingContainerLoader {}

.shippingCTA {}

.shippingInputLoader {}

.shippingNoMessage {}

.shippingTable {}

.shippingTableBody {}

.shippingTableCell {}

.shippingTableCellDeliveryEstimate {}

.shippingTableCellDeliveryName {}

.shippingTableCellDeliveryPrice {}

.shippingTableHead .shippingTableHead {
}

.shippingTableHeadDeliveryEstimate {}

.shippingTableHeadDeliveryName {}

.shippingTableHeadDeliveryPrice {}

.shippingTableLabel {}

.shippingTableRadioBtn {}

.shippingTableRow {}

.shippingZipcodeLabel {}

.shippingZipcodeLabelLoader {}

.shippingHeaderTitle {}

.shippingSubContainer {}

.divider {
  border: 0;
  height: 1px;
  background: green;
  margin: 24px 0;
}

.linkContainer {
  margin-top: 16px;
  margin-top: 16px;
}

.shippingContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;
  overflow-y: auto;
  max-height: 350px;
}

.shippingHeaderContainer {
  padding: 8px 8px 8px 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.link {
  margin-top: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.shippingInput{
  display: flex;
}

.shippingInput button{
  position: absolute;
  right: 18px;
  width: fit-content;
  background-color: transparent;
  color: green;
  border-color: transparent;
  margin-top: 1px;
  font-size: 13px;
}

.shippingInput button:hover{
  background-color: #ebf7ea;
  color: green;
  border-color: transparent;
  border-radius: 50px;
}

.error{
  color: red;
}